.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: transparent url('../public/escolares.png') no-repeat center bottom 8px / auto 150px;
}

.card {
    width: calc(100% - 32px);
    max-width: 380px;
    padding: 15px 30px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, .25);
    transform: translateY(-15%);
}

.title {
    user-select: none;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1em;
}

.table {
    min-width: initial;
}

.row {
    margin-bottom: 4px;
}

.celda {
    font-size: 24px;
    height: 32px;
    padding: 0 0 4px;
    background: none;
    border: none;
}

.celda p {
    background-color: #ffffff00;
    padding: 8px;
    font-size: 16px;
    border-bottom: 1px dashed #00000022;
}

.button {
    margin: 16px;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 8px;
}